@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To My Portfolio!</p>
    <p><a href="https://github.com/MitchMilliken" target="_blank">GitHub</a></p>
</div>

